$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

@import "custom_bootstrap";
// bower:scss
// endbower

//carousel
.slide {
    & img {
        //max-width: 70%;
        //height: 100%;
        //left: 0%;
        //right: 70%;
    }
}

.carousel-control {
    width: 5%;
}

.carousel-caption {
    left: 0%;
    padding-left: 0px;
    text-align: center;
    height: 30%;
    background: $kallan-orange-alt;
    position: absolute;
    width: auto;
    bottom: 0px;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: $gray-lighter;
    text-shadow: $carousel-text-shadow;
    text-wrap: normal;
    & .btn {
        text-shadow: none; // No shadow for button elements in carousel-caption
    }
}

.carousel-indicators {
    top: 5px;
    bottom: auto;
}

@media screen and (min-width: $screen-md-min) {

    .carousel-indicators {
        top: auto;
        bottom: 15px;
    }
    .carousel-caption {
        height: 100%;
        left: 70%;
        right: 0%;
        padding-left: 20px;
        text-align: left;
    }
}
//endcarousel

//.inside {
//    background: #ededed;
//    background: -webkit-gradient(linear, left top, left bottom,color-stop(0%, #f4f4f4), color-stop(100%, #ededed));
//    background: -moz-linear-gradient(top, #f4f4f4 0%, #ededed 100%);
//    background: -ms-linear-gradient(top, #f4f4f4 0%, #ededed 100%);
//}
//.inside-full-height {
//    /*
//    // if you want to give content full height give him height: 100%;
//    // with content full height you can't apply margins to the content
//    // content full height does not work in ie http://stackoverflow.com/questions/27384433/ie-display-table-cell-child-ignores-height-100
//    */
//}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.development {
    position: absolute;
    width: 149px;
    height: 149px;
    top: 0;
    left: 0;
    border: 0;
    z-index: 1000;
    background-image: url("../images/development_ribbon.png");
    background-position: center center;
    background-repeat: no-repeat;
}

.navbar-version {
    font-size: 10px;
    color: #ccc
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.error {
    color: white;
    background-color: red;
}

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../images/hipster.png") no-repeat center top;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
    //.hipster {
    //    background: url("../images/hipster2x.png") no-repeat center top;
    //    background-size: contain;
    //}
}

/* make sure browsers use the pointer cursor for anchors, even with no href */
a:hover {
    cursor: pointer;
}

/* start Password strength bar style */
ul#strength {
    display: inline;
    list-style: none;
    margin: 0;
    margin-left: 15px;
    padding: 0;
    vertical-align: 2px;
}

.point:last {
    margin: 0 !important;
}

.point {
    background: #DDD;
    border-radius: 2px;
    display: inline-block;
    height: 5px;
    margin-right: 1px;
    width: 20px;
}

/* end Password strength bar style */
